
@import url("//fonts.googleapis.com/css?family=Lato");
* {
  font-family: 'Lato'!important;
  color: #555555;
}
body{
  font-family: 'Lato';
  font-size: 14pt;
}
/* Headers */
h1{
  font-size: 18pt;
}

/* Headers */
h2,h3,h4,h5,h6{
  font-size: 16pt;
}
/*Colour hyperlinks*/
a {
  color: #41b6a6; 
}

a:hover {
  color: #9ccfb1;
}

a:active {
  color: #9ccfb1;
}

/*Header*/
h2 {
  font-family: 'Lato' 
  color: black !important;
  line-height: 1.1;
}

/* Search Box*/
input[type=search]:focus {
    border-color: #9ccfb1;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px #9ccfb1;,0 0 8px #9ccfb1;;
    box-shadow: inset 0 1px 1px #9ccfb1;,0 0 8px #9ccfb1;;
}

/*Select box*/
select:focus {
    border-color: #9ccfb1;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px #9ccfb1;,0 0 8px #9ccfb1;;
    box-shadow: inset 0 1px 1px  #9ccfb1;,0 0 8px #9ccfb1;;
}

/*Select options - currently not working*/
option:hover {
  background-color: #9ccfb1;!important
}

/*Hover table row*/
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: #9ccfb1;!important;
}