
@import url("//fonts.googleapis.com/css?family=Lato");
* {
  font-family: 'Lato' !important;
  color: #555555;
}

body {
  background-color: #F4F4F4;
}

/*Colour hyperlinks*/
a {
  color: #70c9d0;
}

a:hover {
  color: #b0e0e6;
}

a:active {
  color: #b0e0e6;
}

/*Header*/
h2 {
  font-family: 'Lato' 
  color: black !important;
  font-weight: 700;
  line-height: 1.1;
}

/* Search Box*/
input[type=search]:focus {
    border-color: #b0e0e6;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px #b0e0e6,0 0 8px #b0e0e6;
    box-shadow: inset 0 1px 1px #b0e0e6,0 0 8px #b0e0e6;
}

/*Select box*/
select:focus {
    border-color: #b0e0e6;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px #b0e0e6,0 0 8px #b0e0e6;
    box-shadow: inset 0 1px 1px  #b0e0e6,0 0 8px #b0e0e6;
}

/*Select options - currently not working*/
option:hover {
  background-color: #b0e0e6!important
}

/*Selected table row*/
table.dataTable tr.selected td, table.dataTable td.selected {
    background-color: #d0ecfa!important;
}

/*Hover table row*/
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: #d0ecfa!important;
}